.category {
    width: 1100px;
    margin: 150px auto;
    display: flex;
    background-color: darkgray;
    margin-top: 0px;
    align-items: flex-end;
}

.numbers {
    flex: 1.5;
}

.total {
    background-color: cornsilk;
    font-size: 25px;
    text-align: center;
}

.categories {
    background-color: aqua;
    flex: 5;
}

.category ul {
    background-color: aqua;
    list-style: none;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.categories li {
    font-size: 22px;
    text-align: center;
}
